<ion-view>
    <ion-nav-buttons side="primary" >
       <div class="bar bar-header item-input-inset">
           <label class="item-input-wrapper textbox-search" >
               <i class="icon ion-ios-search placeholder-icon"></i>
               <input  class="searchText" type="search" placeholder="Rechercher une salle..." focus>
           </label>
           <i class="icon ion-android-close"></i>
       </div>
       
   </ion-nav-buttons>
   
<ion-content>
    
       <p>Ma superbe recherche</p>
</ion-content>
</ion-view>